body {
  /* space for navbar */
  padding-top : 125px;
  background-image : url("../assets/bg-tile.jpg");
}

.eventImage {
  /*max-width: 400px;*/
  width: 100%;
  height: auto;
}

.navbar {
  box-shadow: 0px 2px 2px 2px #333;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 35%;
    padding-bottom: 35%;
/*    line-height: 80px;*/
}
.navbar-right {
    margin-right: 25px;
}

#homeButtons {
  margin-top: 3%;
}

#searchbar {
  margin: 7%;
}

#search {
  background-color : white;
  margin : 5% auto;
  width: 40%;
  height: 50%;
  display : block;
  box-shadow: 0px 0px 2px 2px #333;
  text-align: center;
  padding-left:5%;
  padding-right:5%;
}

#add {
  width: 40%;
}

/*#singleEvent .preview {
  max-width: 25%;
  float: right;
}*/

.paper {
  background-color : white;
  padding : 15px;
  margin : 17px;
  display : inline-block;
  box-shadow: 0px 0px 2px 2px #333;
  min-width: 20%;
}

.event {
  padding-top: 0px;
  min-width : 300px;
  max-width : 30%;
}

.floatLeft {
  float : left;
}

.center {
  display : block;
  margin : auto;
  width : 50px;
  height : 50px;
}

#singleEvent {
  float: left;
  width: 45%;
  position: fixed;
}

#singleEvent img {
  display: block;
  margin: auto;
}

p.eventOccurrenceFilter {
  margin-top: 10px;
  cursor: pointer;
  color: #9d9d9d;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  margin: 15px 0px;
}

div#dragDrop {
  color: #9d9d9d;
  height:100px;
  border: 2px dotted #9d9d9d;
  border-radius: 4px;
  text-align: center;
  line-height: 100px;
}

#selectImg {
  cursor: pointer;
  color: #337ab7;
}

#selectImg:hover {
  text-decoration: underline;
}

.grey {
  color: #9d9d9d;
  font-size: 12px;
}

.mapfeatures {
  list-style-type : none;
  padding-left: 0;
 
}
.mapfeatures li{
  display: inline;
  margin: 10%;
} 
